# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Editores e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Arquivo de entrega (gerado só para o Classroom)
*.zip

# Arquivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk